.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2d1e70;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-label {
  font-size: 24px;
  font-weight: bold;
}

.menu-options {
  flex-grow: 1;
  justify-content: center;
}

.sidebar-option {
  width: 80%;
  font-size: 25px;
}

.sidebar-option:hover {
  background-color: #2d1e70;
  border-radius: 10px;
}

.sidebar-text {
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport for vertical centering */
  width: 100%; /* Full width to center the content in the middle of the page */
}

.upload-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
   /* Center child elements horizontally */
}

.drag-drop-area {
  border: 2px solid #6c757d; /* Change the border to a solid line */
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add space above the input */
}

.drag-drop-area:hover {
  background-color: #f8f9fa;
}

.drag-drop-area .file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.drag-drop-message {
  text-align: center;
}

.drag-drop-text-large {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.drag-drop-text-small {
  font-size: 14px;
  color: #6c757d;
}

.text-success {
  font-size: 16px;
  font-weight: 500;
}

.form-label {
  font-weight: bold;
  font-size: 19px;
}

.form-label-upload {
  font-weight: bold;
  font-size: 45px; /* Increase the size of the text */
  height: 30px;
  color: #6a1b9a; /* Set the color to purple */
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
  margin-bottom: 15px;
}

.form-control, .form-select, .file-upload-input {
  width: 100%; /* Make input fields take full width of the form */
  max-width: 400px; /* Maximum width for better appearance */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.mb-3 {
  margin-bottom: 30px;
  margin-top: 30px;
}
